/*  Géneral */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --1er: #0065fc;
  --2nd: #deebff;
  --background: #f2f2f2;
}

@font-face { 
  font-family: "raleway", sans-serif; /*lequel des deux a garder*/
  src: url("");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "raleway",sans-serif;
  text-decoration: none;
}

header,
.zone_de_recherche,
main,
.bandeau_fin {
  margin: auto;
  max-width: 1200px;
}

ul {
  list-style: none;
}

/* Spécifique */

.icon-color {
  font-size: 22px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  background-color: var(--2nd);
  color: var(--1er);
  border-radius: 50%;
  margin: -2.16px;
}


.icon-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  font-size: 12px;
  color: var(--1er);
  padding: 4px 8px;
  border-radius: 15px;
  border: var(--background) solid 2px;
}

.zone_de_recherche .info{
  display: flex;
  text-decoration: none;
}

.bluestar {
  color: var(--1er);
  text-decoration: none;
}
.greystar {
  color: #e9e6e6;
  text-decoration: none;
}
.bluestar a {
  text-decoration: none;
}
.greystar a{
  text-decoration: none;
}

a:visited {
  color: #aaa;
  text-decoration: none;
}



.carte:hover {
  transform: scale(1.2);
  transition: 0.8s;
}



/* Bandeau Haut de pages */

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 100%;
}

header img{
  margin: auto 0px;
  height: 60px;
}


header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

header a {
  min-width: 100%;
  margin-bottom: 2px;
  padding: 20px 78px;
  border-bottom: 2px solid var(--background);
  text-align: center;
}
header a:hover {
  color: var(--1er);
  border-top: none;
  border-bottom: solid 3px var(--1er);
}

.inscription a{
padding: 0;
position: absolute;
top: 30px;
right: 20px;
text-align: right;
border-bottom: none;
text-decoration: none;
}

.inscription a:hover {
  margin-top: 0px;
  border: none
}

/*Zone de recherche */
.zone_de_recherche h1 {
  padding-top: 31px;
}
.zone_de_recherche p {
  padding: 12px 0px 20px 0px
}

/*ligne de requette*/

.zone_de_recherche div {
  display: flex;
  align-items: center;
  padding-top: 0px;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.zone_de_recherche i {
  width: 60px;
  height: 60px;
  background-color: var(--background);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.zone_de_recherche input {
  color: black;
  border: var(--background) solid 1px;
  padding: 17px 17px;
  font-weight: bold;
  font-size: 20px;
  width: 76%;
  }

.zone_de_recherche:hover {
  color: black;
}

.requette {
  background-color: var(--1er);
  color: white;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
  display: flex;
  font-weight: bold;
  font-size: 25px;
  border-radius: 15px;
  margin-left: -15px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.requette span{
  display: none;
}

.requette i {
  display: inline-block;
  background: var(--1er);
  display: flex;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}


/*Zone Filtre*/

.titre_filtre { 
  display: flex;
  flex-flow: column;
  padding-top: 11px;
  align-items: flex-start;
}

.titre_filtre p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 23px;
}

.titre_filtre .container {
  display: flex;
  flex-flow: row wrap;
}


.titre_filtre .container p {
  align-self: center;
  font-weight: bold;
  padding-right: 14px;
}
.filtre_bouton p {
  padding: 0px 16px;
}

.filtre_bouton {
  margin: 16px;
  display: flex;
  transition:initial;
  border: #f2f2f2 solid 2px;
  border-radius: 100px;
  padding: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filtre_bouton:hover {
  background: var(--1er);
  color: white;
  /* border: var(--1er) 2px solid; */
}


.info {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-top: 0.8rem;
}
.info i{
  height: 31px;
  width: 31px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  border: var(--background) 2px solid;
  border-radius: 50%;
  color: var(--1er);
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}

.info p { 
padding-left: 0.5rem;
padding-left: 12px;
}

main {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Découpe Zone Principale*/


/*Zone Les plus populaires*/
.populaires {
  margin: 0px;
  padding: 16px;
  background: var(--background);
  border-radius: 0px;
  width: 100%;
}

.titre_icone {
  display: flex;
  justify-content: space-between;
}

.titre_icone i {
  font-size: 24px;
}

.populaires .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.populaires .carte {
  background: white;
  display: flex;
  min-height: 130px;
  margin: 16px 0;
  border-radius: 15px;
  border: white solid 5px;
  font-size: 14px;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 10px 1px #d0bfbf
}

.populaires .resumer {
  display: flex;
  justify-content: space-between;
  padding: 10px 32px 0 16px;
  flex-direction: column;
  flex-wrap: wrap;
}

.populaires img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 8rem;
  height: 120px;
  object-fit: cover;
}


/*Zone Hebergements*/

#hebergements {
  padding: 16px;
  background: white;
  border-radius: 0px;
  margin: 0px;
  width: 100%;
}

#hebergements .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/*Proposition X/6*/

#hebergements .carte {
  background: white;
  display: flex;
  margin: 16px 0;
  border-radius: 15px;
  border: white solid 5px;
  min-height: auto;
  max-height: auto;
  width: 95%;
  font-size: 14px;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px #d0bfbf
}
#hebergements .carte h3,
#hebergements .carte p,
#hebergements .stars-container,
.bluestar,.greystar, {
  padding-left: 8px;
}

#hebergements img {
  justify-self: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 7rem;
  object-fit: cover;
}
/*Afficher plus*/
.plus {
    padding-top: 16px;
    font-weight: bold;
    font-size: 18px;
  }



/*Zone Activités à [lieux]*/

#activites { /*test non concluant car flex ne marche pas*/
  display: flex;
  padding: 16px 16px;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 100%;
  }

#activites .container {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
}

#activites h2 {
  padding: 20px 0px;
}

#activites .carte_solo {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
  max-height: 300px;
  margin: 12px 0px
}

#activites img {
  max-height: 130px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#activites .carte2_3 {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
  max-height: 300px;
  margin: 12px 0px
}
#activites .carte2_3 img {
  max-height: 200px;
}
#activites .carte1_3 {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
  max-height: 300px;
  margin: 12px 0px
}
#activites .carte1_3 img {
  max-height: 100px;
}

#activites .x2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#activites h3 {
  padding: 16px;
}

/*Bandeau Bas de pages*/
footer {
  background-color: var(--background);
}
.bandeau_fin {
  display: flex;
  flex-flow: row nowrap;
  padding:10px 19px;
  margin: 0px

}
.bandeau_fin .container {
  min-width: 40%;
  padding-top: 24px;
}
.bandeau_fin h2 {
  font-size: 22px;
  padding: 0 0 15px 0;
}

.bandeau_fin ul li {
  padding: 0 0 12px 0;
}
.bandeau_fin a {
  text-decoration: none;
}

.bandeau_fin a:hover {
  color: var(--1er);
}