/*  Géneral */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --1er: #0065fc;
  --2nd: #deebff;
  --background: #f2f2f2;
}

a {
text-decoration: none;
}

h1,h2,h3,p {
  color: black;
  }

body {
  font-family: "raleway",sans-serif;
  text-decoration: none;
  overflow-x: hidden; 
  width: fit-content;
}

header,
.zone_de_recherche,
main,
.bandeau_fin {
  margin: auto;
  max-width: 1800px;
}

ul {
  list-style: none;
}

/* Spécifique */

.icon-color {
  font-size: 22px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  background-color: var(--2nd);
  color: var(--1er);
  border-radius: 50%;
  margin: -2.16px;
}


.icon-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  font-size: 12px;
  color: var(--1er);
  padding: 4px 8px;
  border-radius: 15px;
  border: var(--background) solid 2px;
}

.zone_de_recherche .info{
  display: flex;
  text-decoration: none;
}

.bluestar {
  color: var(--1er);
  text-decoration: none;
}
.greystar {
  color: #e9e6e6;
  text-decoration: none;
}
.bluestar a {
  text-decoration: none;
}
.greystar a{
  text-decoration: none;
}

a:visited {
  color: #aaa;
  text-decoration: none;
}

.carte:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.carte_solo:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.carte2_3:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.carte1_3:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

/* Bandeau Haut de pages */

header {
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header img{
  margin: auto 0px;
  height: 60px;
}
header ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

header a {
  display: inline-block;
  padding: 32px;
}
header a:hover {
  color: var(--1er);
  border-top: solid 2px var(--1er);
  margin-top: -5px;
}

.inscription {
  color: var(--1er);
  font-weight: bold;
}

.inscription a:hover {
  margin-top: 0px;
  border-top: none;
}
/*Zone de recherche */
.zone_de_recherche h1 {
  padding-top: 31px;
}
.zone_de_recherche p {
  padding: 15px 0px;
}

/*ligne de requette*/

.zone_de_recherche>div {
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.zone_de_recherche i {
  width: 48px;
  height: 48px;
  background-color: var(--background);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.zone_de_recherche input {
  color: black;
  border: var(--background) solid 1px;
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
}

.zone_de_recherche:hover {
  color: black;
}

.requette {
  background-color: var(--1er);
  color: white;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
}

.requette i {
  display: none;
}

/*Zone Filtre*/

.titre_filtre { 
  display: flex;
  flex-flow: row;
  padding-top: 11px;
  align-items: center;
}

.titre_filtre p {
  font-size: 17px;
  font-weight: bold;
  color: none;
}

.titre_filtre .container {
  display: flex;
  flex-flow: row wrap;
}


.titre_filtre .container p {
  align-self: center;
  font-weight: bold;
  padding-right: 14px;
}
.filtre_bouton p {
  padding: 0px 16px;
}

.filtre_bouton {
  margin: 16px;
  display: flex;
  transition:initial;
  border: #f2f2f2 solid 2px;
  border-radius: 100px;
  padding: 1px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filtre_bouton:hover {
  background-color: var(--2nd);
    
}

.info i{
  height: 31px;
  width: 31px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  border: var(--background) 2px solid;
  border-radius: 50%;
  color: var(--1er);
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.info p { 
padding-left: 12px;
}

main {
  padding: 32px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main>div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/*Découpe Zone Principale*/

#hebergements {
  padding: 32px;
  background: var(--background);
  border-radius: 15px;
  margin-right: 72px;
  width: 58%;
}
.populaires {
  padding: 32px;
  background: var(--background);
  border-radius: 15px;
  width: 38%;
}

#activites { /*test non concluant car flex ne marche pas*/
display: flex;
padding: 16px 40px;
flex-wrap: wrap;
flex-direction: column;
min-width: 100%;
}
/*Zone Hebergements*/

#hebergements .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

/*Proposition X/6*/

#hebergements .carte {
  background: white;
  display: flex;
  margin: 16px 0;
  border-radius: 15px;
  border: white solid 5px;
  min-height: 190px;
  max-height: 360px;
  width: 250px;
  font-size: 14px;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
}
#hebergements .carte h3,
#hebergements .carte p,
#hebergements .stars-container,
.bluestar,.greystar, {
  padding-left: 8px;
}

#hebergements img {
  justify-self: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 7rem;
  object-fit: cover;
}
/*Afficher plus*/
.plus {
    padding-top: 16px;
    font-weight: bold;
    font-size: 18px;
  }


/*Zone Les plus populaires*/
.titre_icone {
  display: flex;
  justify-content: space-between;
}

.titre_icone i {
  font-size: 24px;
}

.populaires .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: auto;
  align-items: center;
}

.populaires .carte {
  background: white;
  display: flex;
  min-height: 130px;
  width: 95%;
  margin: 16px 0;
  border-radius: 15px;
  border: white solid 5px;
  font-size: 14px;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
}

.populaires .resumer {
  display: flex;
  justify-content: space-between;
  padding: 10px 32px 0 16px;
  flex-direction: column;
  flex-wrap: wrap;
}

.populaires img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 8rem;
  height: 120px;
  object-fit: cover;
}
/*Zone Activités à [lieux]*/
#activites .container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

#activites h2 {
  padding: 20px 0px;
}

#activites .carte_solo {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
}

#activites img {
  height: 400px;
  width: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#activites .carte2_3 {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
}
#activites .carte2_3 img {
  max-height: 200px;
}
#activites .carte1_3 {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px #d0bfbf;
}
#activites .carte1_3 img {
  max-height: 100px;
}

#activites .x2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#activites h3 {
  padding: 16px;
}

/*Bandeau Bas de pages*/
footer {
  background-color: var(--background);
}
.bandeau_fin {
  display: flex;
  padding-top: 48px;
  flex-wrap: nowrap;
  flex-direction: row;
}
.bandeau_fin .container {
  min-width: 268px;
  width: -webkit-fill-available;
  margin: 0px 75px;
}
.bandeau_fin h2 {
  font-size: 22px;
  padding: 0 0 15px 0;
}

.bandeau_fin ul li {
  padding: 0 0 12px 0;
}
.bandeau_fin a {
  text-decoration: none;
}

.bandeau_fin a:hover {
  color: var(--1er);
}