/* Générale */
/* Application police */
@font-face {
    font-family: 'raleway',sans-serif ;
    src: url('raleway/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    margin-top: 10px;
}
.container{
    max-width: 1400px;
    margin: auto;
}

#Logo{
    width: auto;
    height:50px ;
    text-align: justify;
    margin-right: auto;
    }

h1{
    font-family: raleway;
    font-weight:bolder;
    font-style:normal;
    text-decoration:none;
    text-align:justify;
    font-size: xx-large;

}
h2{
    font-family: raleway;
    font-weight:bolder;
    font-style:normal;
    text-decoration:none;
    text-align:justify;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;

}

h3{
    font-family: raleway;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:justify;
    font-size: 0.9;

}

h4{
    font-family: raleway;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:justify;
    font-size: 0.9em;
    font-weight: bold;

}

p{
    font-family: raleway;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    text-align:justify;
}   

strong {
    font-weight: bold;
}
/* Mise place et en forme des photos sur la grille*/
.fa-star{
    font-size: 0.8em;
}
    .bluestar{
        color: #0065FC;
    }
    .greystar{
        color: #F2F2F2;
    }

/* Bandeau Haut de pages */
.bandeau_fix{
    background-position: top;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

/* Phrase d'accroche sous logo */

#accroche{
    font-size: 0.8em;
    padding-bottom: 20px;

    }
               
    /* Bouton Haut de pages */
           
    #navigation{
        display: flex;
        padding-top: 15px;
        margin-right: 50px;
        font-weight: bold;
        font-size: 1em;
        color:#0065FC;
        padding-top: 10px;
        border-top: 3px solid #0065FC;
    }
    button{ /* attention button également de filte */
        text-decoration: none;
            color: #0065FC;
            padding-top: 15px;
            font-weight: bold;
            border: none;
    }
        .bouton_hebe{ /*hébérgement*/
            color: black;
            margin-right: 50px;
            text-decoration: none;
        
        }  
        .bouton_acti{ /* activité */
            color:  black;
            margin-right: 50px;
            text-decoration: none;
        
        }
    
        ..bouton_insc{ /* s'inscrire */
            text-decoration: none;
            color: #0065FC;
            padding-top: 15px;
            font-weight: bold;
            padding: 15px 20px 0 0
            
        }
        
/* Effet de survol pour les Bouton Haut de pages */

#navigation:hover
{
    color:#0065FC;
    padding-top: 10px;
    border-top: 3px solid #0065FC;
}

                            

/* Sur quels pages nous sommes */

/* Zone de Recherche */
.rechercher{
    padding-top: 20px;
    
}

}   
    /* Bouton de Recherche */
    #search{
        display: flex;
    }
    .icones_map{
        color: black;

    }
    
    .fa-map-marker-alt
{ 
    border-radius: 13px 0px 0px 13px;
    font-size: 17px;
    background-color: #f2f2f2;
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}
    .ville{
        height: 50px;
        width: 210px;
        border: #f2f2f2 solid 2px;
        font-weight: bold;
        font-size: 1.1em;
        color: black;

    }


    .button_search{
        color: white;
        background-color: #0065FC ;
        

    }

    .search_iphone{

    }

        /* Filtre */
        .filtres{
            border-radius: 20px; ;

        }
        
            .title_filtres{

            } 
                    .liste_bouton_filtre{
                        
                    }

                    .icones{ /* icone */
            color: #0065FC;
            background: #F2F2F2;
        }
             
        /* Infos */
#infos{

}
    .fa-info{

    }

/* Zonez des résultats */

    /* Zone Hébergements [lieux] */
    .Gauche{

    }
        #title_hébergement{

        }
      
        /* Proposition 1/6 */
        .proposition_gauche{

        }
        .photo_aub_cannebiere{

        }
        .descrip{

        }

        /* Proposition 2/6 */

        .photo_hotel_port{

        }

        /* Proposition 3/6 */
        
        .photo_hotel_mouettes{

        }

        /* Proposition 4/6 */
        .photo_hotel_mer{
            
        }

        /* Proposition 5/6 */
        .photo_aub_panier{

        }

        /* Proposition 6/6 */
        .photo_hotel_amina{

        }

            /*<!--Afficher plus-->*/
            #aff_plus{

            }

    /* Zone Les plus populaires */

    .Droite{

    }
    
        .title_populaires{

        }      
        
        /* Proposition 1/3 */
            .proposition_droite{

            }
            .photo_description{

            }
            .photo_hotel_soleil{

            }

        /* Proposition 2/3 */
            .photo_chambres_hotes{
                
            }
        /* Proposition 3/3 */
            .photo_hot_bleu_blanc{

            }

/* Zone Activités à [lieux]*/
.actvite-marseille{

}
#title_activite{

}
        /* Proposition 1/6 */
        .port{

        }
        .photo_titre{

        }
        .photo_port{

        }
        /* Proposition 2/6 */
        .pomegues{

        }
        .photo_pomegues{

        }
        /* Proposition 3/6 */
        .frioul{

        }
        .photo_frioul{

        }
        /* Proposition 4/6 */
        .calanques{

        }
        .photo_calanques{

        }
        
        /* Proposition 5/6 */
        .NdGarde{

        }
        .photo_ndgarde{

        }
        /* Proposition 6/6 */
        .parc_longchamp{

        }
        .photo_longchamp{

        }
/* Bandeau Fin de pages */

    /* A propos*/
    #a_propos{

    }
    /* Nos hébergements*/
    #nos_heb{

    }
    /* Assistance */
    #assistance{

    }